.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
}
.why-measi h1{
    font-weight:bolder;
    color:black;
}
.why-measi h2{
    color: #71AE0E;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 400;
}
.why-measi p{
    font-weight: normal;
    color: #616366;
}
p{
    font-family: "Arial", Helvetica, sans-serif;
    font-weight:normal;
    color:rgb(76, 80, 76);
}
.col-1{
    width: 8.3333333%; 
    border: solid 1px red;
    min-height: 50px;
}
.col-2{
    width: 16.66666667%;
    border: solid 1px red;
    min-height: 50px;
}
.col-25{
    width: 20.82%;
    border: solid 1px red;
    min-height: 50px;
}
.col-3{
    width: 25%;
    border: solid 1px red;
    min-height: 50px;
}
.col-4{
    width: 33.33333%;
    border: solid 1px red;
    min-height: 50px;
}
.col-45{
    width: 37.48%;
    border: solid 1px red;
    min-height: 50px;
}
.col-5{
    width: 41.66666667%;
    border: solid 1px red;
    min-height: 50px;
}
.col-6{
    width: 50%;
    border: solid 1px red;
    min-height: 50px;
}
.col-7{
    width: 58.31%;
    border: solid 1px red;
    min-height: 50px;
}
.col-10{
    width: 83.3%;
    border: solid 1px red;
    min-height: 50px;
}
.justify-center{
    justify-content: center;
}
.wrap-wrap{
    flex-wrap: wrap;
}
.col{
    min-height: 40px;
}
.header-top{
    background-color:white;
    min-height: 80px;
}
.info,.belief,.collab{
    background-color:white;
    min-height: 80px;
}
.why-measi,.courses,.stud-work,.methodologies{
    background-color:#e6e9e5;
    min-height: 500px;
}
.contact{
    background-color:#0083E1;
    min-height: 80px;
}
.copyright{
    background-color:rgb(33, 31, 31);
    min-height: 80px;
}
.news-upd{
    background-color: #007acc;
    min-height:60px;
    font-style: bold;
    color: #e5eef3;
}
.main-carousel h1{
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgb(90, 83, 83);
    font-weight: 900;
    font-size:6em;
    color: whitesmoke;
    text-align:initial;
}
.main-carousel p{
    font-family:Helvetica, Arial, sans-serif;
    font-weight:normal;
    color:whitesmoke;
    font-size: 20px;
}
.carousel-caption {
    position: absolute;
    top:155px;
}
.why-measi img{
    
}